/* @import "/media/css/site_jui.ccss"; */
/*@import "./themes/cupertino/jquery-ui-1.10.3.custom.css";*/
@import "./demo_table.css";


.ace_scroller {
    overflow-x: auto !important;
}

.ace_sb {
    overflow-y: auto !important;
}

.dataTables_info {
    padding-top: 0;
}

.dataTables_paginate {
    padding-top: 0;
}

.css_right {
    float: right;
}

#example_wrapper .fg-toolbar {
    font-size: 0.8em
}

#theme_links span {
    float: left;
    padding: 2px 10px;
}

.alignRight {
    text-align: right;
}

.alignLeft {
    text-align: left;
}

.alignCenter {
    text-align: center;
}

.ui-widget .ui-widget {
    font-size: 0.87em;
}

/*td {
    font-size: 0.7em;
}

th {
    font-size: 0.7em;
}*/

/*Child Rows*/
td.details-control {
    background: url('images/details_open.png') no-repeat center center;
    cursor: pointer;

}
tr.shown td.details-control {
    background: url('images/details_close.png') no-repeat center center;

}

/* remove padding & scrolling from panes that are 'containers' for nested layouts */
.ui-layout-pane {
    border: 0; /* cosmetic */
    padding: 0;
    overflow: hidden;
}

.header {
    height: 12px;
    text-align: center;
    padding-bottom: 2px;
    /*   background: #80ade5 url(./images/80ade5_40x100_textures_04_highlight_hard_100.png) 0 50% repeat-x;
       border-bottom: 1px solid #777;

       font-weight: normal;
       font-size: 9pt;


       position: relative;
       overflow: hidden;
   */}

label, input {
    display: block;
}

input.text {
    margin-bottom: 12px;
    width: 90%;
    padding: .4em;
}

fieldset {
    padding: 0;
    border: 0;
    margin-top: 25px;
}

h1 {
    font-size: 1.2em;
    margin: .6em 0;
}

.ui-dialog .ui-state-error {
    padding: .3em;
}

.validateTips {
    border: 1px solid transparent;
    padding: 0.3em;
}

.ui-progressbar {
    height: 2em;
    text-align: left;
}

.ui-progressbar .ui-progressbar-value {
    margin: -1px;
    height: 100%;
}

.progress-label {
    float: left;
    margin-left: 50%;
    margin-top: 0px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

#progressbar {
    width: 300px;
    height: 20px;
}

input.search {
    background-color: transparent;
    background-image: url('./images/search.png');
    width: 24px;
    height: 24px;
    border: 0;
    cursor: pointer;
}

input.search:disabled {
    background-image: url('./images/search-bw.png');
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: text;
    disabled: true;
}

input.save {
    background-image: url('./images/save.png');
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: pointer
}

input.save:disabled {
    background-image: url('./images/save-bw.png');
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: text;
    disabled: true;
}

input.play {
    background-image: url('./images/play.png');
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: pointer;
}

input.play:disabled {
    background-image: url('./images/play-bw.png');
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: text;
    disabled: true;
}

input.maximize {
    background-image: url('./images/maximize.png');
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: pointer;
}

input.maximize:disabled {
    background-image: url('./images/maximize-bw.png');
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: text;
    disabled: true;
}

input.minimize {
    background-image: url('./images/minimize.png');
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: pointer;
}

input.minimize:disabled {
    background-image: url('./images/minimize-bw.png');
    width: 24px;
    height: 24px;
    border: 0;
    cursor: text;
    disabled: true;
}

input.upload {
    background-image: url('./images/upload.png');
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: pointer;
}

input.upload:disabled {
    background-image: url('./images/upload-bw.png');
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: text;
    disabled: true;
}

input.download {
    background-image: url('./images/download.png');
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: pointer;
}

input.download:disabled {
    background-image: url('./images/download-bw.png');
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: text;
    disabled: true;
}

input.beautify {
    background-image: url('./images/beautify.png');
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: pointer;
}

input.beautify:disabled {
    background-image: url('./images/beautify-bw.png');
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: text;
    disabled: true;
}

input.pdf {
    background-image: url('./images/file_pdf.png');
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: pointer;
}

input.pdf:disabled {
    background-image: url('./images/file_pdf-bw.png');
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: text;
    disabled: true;
}

input.close {
    background-image: url('./images/exit.png');
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: pointer;
}

input.test {
    background-image: url('./images/tabicon_pipette.png');
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: pointer;
}

input.reload {
    background-image: url('./images/refresh.png');
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: pointer;
}

input.docAlfresco {
    background-image: url('./images/alfresco.png');
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: pointer;
}

input.docAlfresco:disabled {
    background-image: url('./images/alfresco-bw.png');
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: text;
    disabled: true;
}

input.settings {
    background-image: url('./images/settings.png');
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: pointer;
}

input.themes {
    background-image: url('./images/themes.png');
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: pointer;
}

input.sendToInbox {
    background-image: url('./images/inbox_icon.jpg');
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: pointer;
}

/* add padding and min/max sizes to BODY */
html {
    /* allow scrolling if layout hits min-width/height */
    overflow:		auto !important; /* override Layout default of 'hidden' to allow scrollbars */
}
body {
    padding:		0 0px !important; /* override Layout default of '0' */
    /* set min dimensions for layout - window will scroll if smaller than this */
    min-width:		950px;
    min-height:		600px;
    font-size: 62.5%;
    /* max-width works for left-aligned layout - need a container-div to 'center' the layout */
    /*max-width:		1000px;*/
}
p {
    margin:	0 0 1ex;
}
/*
*	HELPER CLASSES
*/
.container {
    /* used for elements that should not have padding or scrollbars */
    padding:	0;
    overflow:	hidden;
}
.hidden {
    /* used to HIDE layout-panes until Layout initializes */
    display:	none;
}

.ace_gutter {
    opacity: 0.3;
}

.ui-layout-resizer-open-hover, .ui-layout-resizer-dragging {
    background: none !important;
}

.ui-layout-resizer {
    background: none !important;
}
button.ui-dialog-titlebar-close span.ui-icon
{
    margin-left: -8px !important;
    margin-top: -8px !important;
}


/*
 *	TAB CLASSES - STRUCTURAL, REQUIRED
 */
DIV#tabs { /* page-wrapper - used ONLY to 'wrap' tabButtons and tabPanels */
    position:	relative	!important; /* overide UI Theme - prevent from becoming a positional wrapper */
}
UL#tabButtons ,
DIV#tabPanels {
    margin:		0 !important; /* layout-panes should never have margins */
}

.tabPanel { /* container for tabLayout */
    height:		100%; /* need to 'fill' the tabPanels - layout container must have 'height' */
    padding:	0 !important;  // DO NOT set top- or bottom-padding because height=100%
}


DIV#verteilungSouth {
    background: none !important;
}


/*
 *	DEBUG - add colored padding & borders to show what is possible
 */

.ui-layout-north  {
    overflow: visible;
}

/*
 *	add some padding and set overflow
 */
/*   .ui-widget-header {
       padding:	2px 1em 3px;
       overflow:	hidden;
   }
*/    .ui-widget-content {

             overflow:	auto;
         }

#tabButtons {
    padding: 0 0.2em 0;
}

/*
.jstree-icon {
    background:url("./images/d.png") -90px 0px no-repeat !important;
}

.jstree-leaf > ins {
    background:url("./images/d.png") -36px 0px no-repeat !important;
}

.ui-icon-triangle-1-e {
    background:url("./images/d.png") -54px 0px no-repeat !important;
}

*//*li[rel="root"] ins.ui-icon-triangle-1-se  {
    background:url("./images/d.png") -54px -54px no-repeat !important;
}*//*

.ui-icon-triangle-1-se {
    background:url("./images/d.png") -72px 0px no-repeat !important;
}

.ui-icon-folder-collapsed {
    background:url("./images/d.png") -54px -18px no-repeat !important;
}

.ui-icon-folder-open {
    background:url("./images/d.png") -54px -36px no-repeat !important;
}

.ui-icon-document {
    background:url("./images/file18x18.gif") no-repeat !important;
}
a.ui-state-default  {
    background: none !important ;
    color: inherit !important;
    border: none !important;
}*/

.grid-pad {
    padding: 0px 0px 0px 0px;
}

.alpaca-form {
    margin-top: 5px;
    margin-left: 0px;
}

.droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
.draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px; cursor: hand; cursor: pointer; border: 1px solid #000;}